.query-input {
  font-family: Roboto, Noto, sans-serif
  ;
}
.suggestions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;  
}

.suggestion.active {
  background-color: gainsboro;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 30em;
}